body {
  min-height: 3000px;
}
.jumbotron {
  height: 550px;
  padding-top: 6rem;
  background-image: url('img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.container-ex {
  background-image: url('img/paper-background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
